<div class="bg-light m-5 p-2 border border-primary border-2">
    <div class="">
        <span>
            <%= football['date'] %> 
            <%= football['round'] %> 
            <%= football['team1'] %> 
            <%= football['team2'] %> 
        </span>
        <strong><%= football['name'] %></strong>
        
    </div>
    <div><a href="/addCourse/<%= course['_id'] %>">(add to schedule)</a></div>

<hr>

<pre>
    <%= JSON.stringify(course,null,5) %>
</pre>
-->