<h1>Here are the results of your search:</h1>
<hr>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Round</th>
            <th>Date</th>
            <th>Team 1</th>
            <th>Team 2</th>
        </tr>
    </thead>
    <tbody></tbody>
    <% for (game of games) {
        const name = football.title;
        const round = football['round'];
        const date = football['date'];
        const team1 = football['team1'];
        const team2 = football['team2'];
         %>
      <tr class="mb-2"> 
        <td><%=name %></td>
        <td><%=round %></td>
        <td><%=date %></td>
        <td><%=team1 %></td>
        <td><%=team2 %></td>
    <% } %>
    </tbody>
</table>